<% title = 'My Page – My Site' %>
<div class='row'>
    <div class='col-md-6'>
   
        <div class="panel panel-primary">
            <div class="panel-heading">
                Login to test page
            </div>
            <div class="panel-body">

                <% if(login){ %>
                    <% if(status == 'fail'){ %>
                        <div class='alert alert-danger' role='alert'>
                            <span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span>
                            <span class='sr-only'>Error:</span>
                            <%=message%>
                        </div>
                    <% }%>     
                <% }%>  

                <form action="/authenticate" method="POST">
                    
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" class='form-control'>
                    <br>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" class='form-control'>
                    <br>
                    <button class="btn btn-info" type="submit">Login</button>

                </form>

            </div>
        </div>
    </div>

    <div class='col-md-6'>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Register to test page
            </div>
            <div class="panel-body">

                
                <% if(register){ %>
                    <% if(status == 'fail'){ %>
                        <div class='alert alert-danger' role='alert'>
                            <span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span>
                            <span class='sr-only'>Error:</span>
                            <%=message%>
                        </div>
                    <% }%>     
                <% }%>  
                

                <form action="/register" method="POST" id="form_register">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" class='form-control'>
                    <br>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" class='form-control'> 
                    <br>
                    <button class="btn btn-info" type="submit">Register</button>
                </form>

            </div>
        </div> 
    <div>

</div>


