<div class="loading-class loading" style="display: none"> 
</div>

<div class="page-header">
        
	<h1>Transactions page</h1>        

</div>

<span id="token" style="display:none"><%=token%></span>

<input type="hidden" id="user_id" value="<%=user_id%>"/>
<input type="hidden" id="customer_id" value="<%=customer_id%>"/>


<div class="panel panel-primary">
    <div class="panel-heading">

    	<% if(customer_id != ''){ %>
			Payment
		<% } else{ %> 
			Add payment method
		<% } %> 		

    </div>
    <div class="panel-body">

    	<span class="payment-errors"></span>

    	<br>
    	<br>
    	<% if(customer_id != ''){ %>

    		<div class="panel panel-default">
				<div class="panel-body">
			    	You can do payment by your card **** **** **** <%=cardNumber%>
			  	</div>
			</div>

		<% }%>  


    	<div class='row'>
    		<div class='col-md-3'>
				<label for="amount">Amount:</label>    			
    		</div>
    		<div class='col-md-3'>
    			<input type="number" name="amount" id="amount" class='form-control'>
    		</div>
    	</div>
    	<br>
    	<% if(customer_id == ''){ %>

			<div class='row'>
	    		<div class='col-md-3'>
					<label for="currency">Currency: </label>
	    		</div>
	    		<div class='col-md-3'>
	    			
	    			<select name="currency" id="currency" class='form-control'>
	    				<option value='usd'>USD</option>
	    			</select>
	    			
	    		</div>
	    	</div>
	    	<br>
	    	<div class='row'>
	    		<div class='col-md-3'>
					<label for="currency">Card Number: </label>
	    		</div>
	    		
	    		<div class='col-md-3'>
	    			<input type="number" name="cardnumber" id="cardnumber"  class="card-number form-control"/>

	    		</div>
	    		

	    	</div>
	    	</br>
	    	<div class='row'>
	    		<div class='col-md-3'>
					<label for="cvc">CVC: </label>
	    		</div>
	    		<div class='col-md-3'>
	    			<input type="number" name="cvc" id="cvc" class="card-cvc form-control">
	    		</div>
	    	</div>
	    	</br>
	    	<div class='row'>
	    		<div class='col-md-3'>
					<label for="card-expiry-month">Expired Month: </label>
	    		</div>
	    		<div class='col-md-3'>
	    			
	    			<select name="card-expiry-month" id="card-expiry-month" class='card-expiry-month form-control'>
	    				<option value='01'>01</option>
	    				<option value='02'>02</option>
	    				<option value='03'>03</option>
	    				<option value='04'>04</option>
	    				<option value='05'>05</option>
	    				<option value='06'>06</option>
	    				<option value='07'>07</option>
	    				<option value='08'>08</option>
	    				<option value='09'>09</option>
	    				<option value='10'>10</option>
	    				<option value='11'>11</option>
	    				<option value='12'>12</option>
	    			</select>


	    		</div>
	    	</div>

	    	<br>
	    	<div class='row'>
	    		<div class='col-md-3'>
					<label for="card-expiry-year">Expired Year: </label>
	    		</div>
	    		<div class='col-md-3'>
	    			
	    			<select name="card-expiry-year" id="card-expiry-year" class='card-expiry-year form-control'>
	    				<option value='2016'>2016</option>
	    				<option value='2017'>2017</option>
	    				<option value='2018'>2018</option>
	    				<option value='2019'>2019</option>
	    				<option value='2020'>2020</option>
	    			</select>

	    			<br>
	    		</div>
	    	</div>
		   
		<% } %>

		<button class="btn btn-info submittransaction" id="submittransaction">Submit</button>

    </div>

</div>

